/.collabignore
/.vscode
/LinuxPlayer_s.debug
/Logs
/Temp
/UnityPlayer.so
/UnityPlayer_s.debug
/UserSettings
/linux.x86_64
/linux_Data
/Assets/Samples/
/Assets/Samples.meta
**/.idea/**
Library
obj
Packages
UserSettings
Logs
Build
Assembly-CSharp.csproj
JAR.sln
ProjectSettings/SceneTemplateSettings.json
UIElementsSchema/
.vs/JAR/v17/.suo